<app-navigation></app-navigation>
<main role="main">
  <app-jumbotron
    title="Welcome to our store"
    description="Browse"
  ></app-jumbotron>
  <div class="container">
    <div class="row">
      <app-license-plate
        *ngFor="let lp of licensePlates"
        [plate]="lp"
        buttonText="add to cart"
        class="col-md-4"
      ></app-license-plate>
    </div>
  </div>
</main>

<footer class="container">
  <p>&#169; License Plate Store {{ now | date:'yyyy' }}</p>
</footer>
<!-- <router-outlet></router-outlet> -->
